<div class="header container">
    <div class="row">
        <h1 class="header-title col-lg-7">
            {%- include tagline.html -%}
        </h1>
        <div class="header-form col-lg-4 offset-lg-1">
            {%- include hubspot-beta-signup-form.html -%}
        </div>
    </div>
    <div class="row">
        <div class="header-subtitle col-lg-8">
            Endowl gives you tools to explore who and what is most important to you and create a plan for how they will
            be taken care of when you are gone.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2">
            <img width="150" src="../../assets/images/app-store-coming-soon/iPhone%20App%20Store%20Coming%20Soon.png"/>
        </div>
        <div class="col-lg-2">
            <img width="150" src="../../assets/images/app-store-coming-soon/Google%20Play%20Coming%20Soon.png"/>
        </div>
    </div>
</div>
