<div class="blog-section">
    <div class="blog-section-right-bg">
        <img src="{{ "/assets/images/blog-section-right-bg.png" | relative_url }}">
    </div>
    <div class="blog-section-left-bg">
        <img src="{{ "/assets/images/blog-section-left-bg.png" | relative_url }}">
    </div>
    <div class="container blog-container">
        <div class="blog-title-section">
            <!--						<p class="blog-subtitle">Recent updates</p>-->
            <h2 class="blog-title">The Endowl Team</h2>
        </div>
        <div class="blog-posts-section row">
            <div class="col-xl-4 col-lg-4 col-md-5 col-xs-10 blog-post-card-container">
                <div class="blog-post-card">
                    <div class="blog-post-icon">
                        <img src="{{ "/assets/images/headshotKen.jpg" | relative_url }}" style="height: 200px;width:
                        200px;">
                    </div>
                    <h3 class="blog-post-title">Ken Hodler</h3>
                    <p class="blog-post-text">Ken was the CTO and an early contributor at KeepKey. He brings over 30
                        years of experience as a software engineer and entrepreneur and almost 10 years experience with
                        blockchain technology to Endowl.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-xs-10 blog-post-card-container">
                <div class="blog-post-card">
                    <div class="blog-post-icon mb-4">
                        <img src="{{ "/assets/images/headshotAaron.jpg" | relative_url }}" style="height: 200px;width:
                        200px;">
                    </div>
                    <h3 class="blog-post-title">Aaron Anderson</h3>
                    <p class="blog-post-text mb-4">Aaron brings dApps to market as a dApp engineer, cofounder of Ching!
                        point of sale, and cofounder of web3devs.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-xs-10 blog-post-card-container">
                <div class="blog-post-card">
                    <div class="blog-post-icon">
                        <img src="{{ "/assets/images/headshotMorgan.jpg" | relative_url }}" style="height: 200px;width:
                        200px;">
                    </div>
                    <h3 class="blog-post-title">Morgan Sherwood</h3>
                    <p class="blog-post-text">Morgan is a dApp engineer, algorithmic trader, and lifelong developer
                        skilled in Python and smart contract security analysis.</p>
                </div>
            </div>
        </div>
    </div>
</div>