<div class="share-button">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=102914516664&autoLogAppEvents=1"
            nonce="MG1jBkuF"></script>
    <div class="fb-share-button" data-href="https://endowl.com" data-layout="button" data-size="small"><a
            target="_blank"
            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fendowl.com%2F&amp;src=sdkpreparse&m=foo"
            class="fb-xfbml-parse-ignore">Share</a></div>
</div>