<!-- NAVBAR -->
<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-header navbar-mobile">
  <div class="navbar-container container">
    <!-- LOGO -->
    <div class="navbar-brand">
      <a class="navbar-brand-logo" href="#">
        <img src="/assets/images/Endowlhoriz.png" width="155px" alt="Endowl">
      </a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav menu-navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://endowl.com/">
            <p class="nav-link-number">1</p>
            <p class="nav-link-menu">Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://endowl.com/#inheritance">
            <p class="nav-link-number">2</p>
            <p class="nav-link-menu">About</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://endowl.com/#team">
            <p class="nav-link-number">3</p>
            <p class="nav-link-menu">Team</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://endowl.com/blog/">
            <p class="nav-link-number">4</p>
            <p class="nav-link-menu">Blog</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
