<div class="share-button">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
   data-text="Today I learned about @EndowlApp, a system that makes creating a will easy. It is a new way of thinking about what happens to the people and things that you care about when you are gone."
   data-url="https://endowl.com/preview" data-via="EndowlApp" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>