---
---

$base-shade-dark: #313662;
$base-shade-bold: #312272;
$base-shade-bright: #662cc8;
$base-shade-medium: #5f42de;
$base-shade-muted: #666ec6;
$base-shade-light: #7982eb;

$complimentary-shade-bright: #00FF85;
$complimentary-shade-muted: #00ffc0;

$contrast-shade: #FFFFFF;

@font-face {
  font-family: "Lota Grotesque";
  src: url("../fonts/Lota Grotesque Regular.otf");
}

// Theme colors
$body-bg: $base-shade-medium;
$body-color: $contrast-shade;
$font-family-base: "Lota Grotesque", Verdana, Geneva;
$primary: $base-shade-bright;
$secondary: $base-shade-light;
$border-color: $contrast-shade;

$card-height: 100%;
$card-bg: $contrast-shade;
$card-border-radius: 1rem;
$card-color: $base-shade-dark;
$card-spacer-y: 2rem;
$card-spacer-x: 2rem;

$link-color: $contrast-shade;
$link-decoration: none;
$link-hover-color: $contrast-shade;
$link-hover-decoration: underline $complimentary-shade-bright;

@import '../../assets/bootstrap/scss/bootstrap';

// Overrides
.btn {
  color: $contrast-shade;
  border-radius: 1em;

  &.disabled,
  &:disabled {
    background-color: transparent;
  }
}

/* Checkboxes created from markdown processed by Jekyll and Github Pages */
.task-list-item {
  list-style-type: none;
}

.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.task-list-item + .task-list-item {
  margin-top: 3px;
}

/* 1. GENERAL */
* {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-os-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  // WTF - why isn't this deployed?
  &.white-theme {
    background-color: $contrast-shade;
    .navbar {
      background-color: $body-bg;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

nav h1,
nav h2,
nav h3,
nav h4,
nav h5,
nav h6,
nav p {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.padding-0 {
  padding: 0 !important;
}

button:focus {
  outline: none !important;
}


/* 2. NAVBAR */
.navbar {
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;

  .tagline {
    opacity: 0;
  }

  &.scrolled {
    background-color: $base-shade-bold !important;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    //height: 120px;
    .tagline {
      opacity: 1;
    }
  }

}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;

  svg {
    margin-top: 16px;
    margin-left: 15px;
    width: 155px;
    height: auto;
  }

  .tagline {
    font-size: 1.25rem;
    line-height: 1.35rem;
    margin-left: 30px;
  }
}

.navbar-brand-menu {
  margin-right: 40px;
}

.menu-navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-nav:not(.menu-navbar-nav) .nav-item:last-of-type {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.nav-item .nav-link {
  text-align: right;
}

.nav-item .nav-link:hover .nav-link-menu {
  text-decoration: $complimentary-shade-bright underline;
}

.nav-link-menu {
  font-weight: 600;
  font-size: 0.9rem;
  color: $contrast-shade;
  line-height: 1;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  background-image: url("../images/menu.png");
}

//@media screen and (max-width: 991.98px) {
@media screen {
  .navbar {
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
  }

  .navbar-brand img {
    //width: 100px !important;
    width: 129px !important;
    padding: 10px 0;
  }

  .scrolled {
    //height: inherit;
  }
}

@media screen and (max-width: 575.98px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu-navbar-nav {
    padding-bottom: 10px;
  }

  .navbar-brand img {
    width: 100px !important;
  }

  .navbar-brand .tagline {
    font-size: 0.9rem;
    line-height: 0.9rem;
    margin-left: 15px;
    margin-top:  3px;
  }
}

.highlight-word {
  color: $complimentary-shade-bright;
}

/* 3. HEADER */
.header {
  width: 100%;
  //padding: 250px 0 25px;
  padding-top: 120px;
  padding-bottom: 25px;
}

.header-subtitle {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 5px;
  //padding-bottom: 10px;
}

.header-title {
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
}

.no-header {
  margin-top: 112px;
}

.main-contents {
  min-height: 1000px;
}

.content {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1221px) {
  .header-subtitle {
    font-size: 27px;
    font-weight: 400;
  }

  .header-title {
    font-weight: 800;
    font-size: 55px;
  }
}

@media screen and (max-width: 991.98px) {
  .header-container {
    flex-direction: column;
  }

  .header-title-section {
    text-align: center;
    margin-top: 40px;
  }

  .navbar-collapse {
    background-color: $base-shade-dark;
    color: $contrast-shade;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-collapse .nav-link-menu {
    color: $contrast-shade;
  }

  .nav-link-number {
    color: $contrast-shade;
    display: none;
  }

  .nav-link-menu {
    color: $contrast-shade;
  }
}

@media screen and (max-width: 799.98px) {
  /*
  .header {
    height: auto;
    padding-top: 20%;
  }
   */

  .header-subtitle {
    font-size: 24px;
  }

  .header-title {
    font-size: 46px;
  }

  .header-title-text {
    font-size: 18px;
  }
}

//@media screen and (max-width: 499.98px) {
@media screen and (max-width: 576px) {
  .header {
    //padding-top: 30%;
    padding-top: 80px;
  }

  .header-subtitle {
    font-size: 20px;
    line-height: 1.2;
  }

  .header-title {
    font-size: 36px;
  }
}

.blog-listing {
  padding-bottom: 20px;

  .card {
    background-color: $contrast-shade;
    color: $base-shade-dark;
    a {
      color: $base-shade-dark;
    }
  }
}

.blog-post {
  background-color: $contrast-shade;
  color: $base-shade-dark;
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .header {
    background-color: $base-shade-medium;
    padding-top: 81px;
  }
  .header-subtitle {
    margin-top: 1rem;
  }
  .container {
    padding-top: 5rem;
    .row {
      @extend .justify-content-center;
    }
    .col {
      max-width: 800px;
    }
  }
  .signup-form {
    background-color: $base-shade-dark;
    color: $contrast-shade;
  }
  .text {
    font-size: 1.2rem;
  }
  .photo-credit {
    font-size: .8rem;
  }
  a {
    color: inherit;
    text-decoration: underline $complimentary-shade-muted;
    &:hover {
      color: $base-shade-bold;
      font-weight: bold;
      text-decoration: underline $complimentary-shade-bright;
    }
  }
}

/* 8. NEWS SECTION */
.blog-section {
  display: flex;
  padding-top: 55px;
  position: relative;
}

.blog-section-right-bg {
  position: absolute;
  top: 5%;
  right: 0%;
}

.blog-section-left-bg {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.blog-container {
  position: relative;
}

.blog-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.blog-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
}

.blog-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 1;
  margin-bottom: 0;
}

.blog-posts-section {
  display: flex;
  flex-direction: row;
}

.blog-post-card-container {
  padding: 20px;
}

.blog-post-card {
  background-color: $contrast-shade;
  border-radius: 50px;
  padding: 55px 20px 20px;
  height: 100%;
  a {
    color: $base-shade-dark;
  }
}

.blog-post-icon {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.blog-post-icon img {
  width: 100%;
}

.blog-post-title {
  font-size: 1.3rem;
  color: #303669;
  font-weight: 700;
  line-height: 2;
  text-align: center;
}

.blog-post-subtitle {
  font-size: 1.2rem;
  color: #CCCCCC;
  line-height: 1;
  margin-bottom: 10px;
}

.blog-post-text {
  color: #000;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-post-link {
  color: #A4C4F3;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-top: 10px;
}

.blog-post-link:hover {
  color: #FF3E81;
  text-decoration: none;
}

@media screen and (max-width: 991.98px) {
  .blog-posts-section {
    flex-direction: column;
  }
}

/* 9. CONTACT SECTION */
.contact-section {
  padding-top: 55px;
  padding-bottom: 90px;
}

.contact-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.contact-header-img-section {
  padding: 20px;
}

.contact-header-img img {
  width: 100%;
}

.contact-title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.contact-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 2;
}

.contact-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 1;
  color: #303669;
  margin-bottom: 20px;
}

.contact-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media screen and (max-width: 991.98px) {
  .contact-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-title-section {
    text-align: center;
  }
}

.section img {
  max-width: 100%;
}

.section h2 {
  padding-bottom: 10px;
}

/*
#about-section {
  position: relative;
  top: -($nav-link-padding-y + $line-height-base);
  &.scrolled {
    top: 3rem;
    margin-bottom: 5rem;
  }
  .wrapper {
    padding-top: 5rem;
    background-color: $contrast-shade;
    color: $base-shade-dark;
    height: 100%;
    min-height: 800px;
  }
  .nav-tabs {
    justify-content: center;
    z-index: 5;
    .nav-item {
      margin-left: 5px;
      margin-right: 0;
      .nav-link {
        border-color: lightgrey;
        &.active {
          background-color: white;
          border-color: white;
        }
      }
    }
  }
  .services-container {
    height: 100vh;
    min-height: 100vh;
    position: relative;
    .anchor {
      position: absolute;
      top: -100px;
    }
  }
}

#about-section-nav-tabs.inAboutSection {
  background-color: $base-shade-bold;
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
}
*/

.share-button {
  padding: 0 10px;
  .fb-share-button > span {
    height: 28px !important;
  }
}

/*
.services-container {
  height: 100vh;
  min-height: 100vh;
}
*/

.fp-slidesNav {
  text-align: center;
}

.fp-slidesNav ul li a span {
  background-color: #fff;
}

.fp-slide {
  padding: 0 65px;
}

/* Bottom of section shape to show there's more page content */
.section-next-page-shape {
  clip-path: polygon(0% calc(100% - 70px), calc(50% - 50px) calc(100% - 70px), 50% calc(100% - 15px), calc(50% + 50px) calc(100% - 70px), 100% calc(100% - 70px), 100% 0%, 0% 0%);
  margin-bottom: -70px;
}

.section .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 575.98px) {
  .section-next-page-shape {
    clip-path: polygon(0% calc(100% - 35px), calc(50% - 25px) calc(100% - 35px), 50% calc(100% - 5px), calc(50% + 25px) calc(100% - 35px), 100% calc(100% - 35px), 100% 0%, 0% 0%);
    margin-bottom: -35px;
  }

  .section .container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.section-lead {
  position: absolute;
  top: 40px;
  left: 45px;
  font-size: 54px;
}

.section-next-page-shape#above-the-fold {
  z-index: 1000;
}

$background-gradient-bottom: adjust-color($base-shade-dark, $alpha: -0.1);
$background-gradient-top: adjust-color($base-shade-medium, $alpha: -0.1);

$s1-background-gradient-bottom: adjust-color($base-shade-bold, $alpha: -0.1);
$s1-background-gradient-top: adjust-color($base-shade-muted, $alpha: -0.1);

$s2-background-gradient-bottom: adjust-color($base-shade-bright, $alpha: -0.1);
$s2-background-gradient-top: adjust-color($base-shade-light, $alpha: -0.1);

#above-the-fold {
  background: linear-gradient($background-gradient-top, $background-gradient-bottom),url(../stock-photos/limor-zellermayer-pn_HsW0jMls-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.section-1 {
  background: linear-gradient($s1-background-gradient-top, $s1-background-gradient-bottom),url(../stock-photos/jude-beck-kPeugAckSPo-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 900;
}

.section-2 {
  background: linear-gradient($s2-background-gradient-top, $s2-background-gradient-bottom),url(../stock-photos/simon-rae-jJYlr6H1ClM-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 800;
}

.section-3 {
  background: linear-gradient($background-gradient-top, $background-gradient-bottom),url(../stock-photos/simon-rae-Ppckx1ce6SM-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 700;
}

.section-4 {
  background: linear-gradient($s1-background-gradient-top, $s1-background-gradient-bottom),url(../stock-photos/dario-valenzuela-PAGBeJrLiDA-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 600;
}

.section-5 {
  background: linear-gradient($s2-background-gradient-top, $s2-background-gradient-bottom),url(../stock-photos/alex-iby-QOPfXH-PGwk-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 500;
}

.section-6 {
  background: linear-gradient($s1-background-gradient-top, $s1-background-gradient-bottom),url(../stock-photos/lukas-blazek-GnvurwJsKaY-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 400;
}

.section-7 {
  background: linear-gradient($background-gradient-top, $s2-background-gradient-bottom),url(../stock-photos/david-boca-wQZSl60DGDM-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 300;
}

.section, #above-the-fold {
  background-attachment: fixed;
}

.section-team {
  text-align: center;
}
.section-team p {
  text-align: justify;
}
.section-team .headshot {
  border-radius: 50%;
  width: 75%;
}

/*
#above-the-fold .fp-bg {
  background: linear-gradient($background-gradient-top, $background-gradient-bottom), url(../stock-photos/limor-zellermayer-pn_HsW0jMls-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center 80%;
}
*/

/*
.fp-controlArrow {
  top: unset;
  bottom: 50px;
}
*/

@import "signup-form";
@import "footer";
