.signup-form {
  margin-top: 5rem;
  padding: 20px;
  background-color: adjust-color($contrast-shade, $alpha: -0.3);
  border-radius: 10px;
  color: $base-shade-dark;
  .field label {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
  }
  $recaptcha-rescale-factor: 0.75;
  .hs_recaptcha {
    float: right;
    margin-top: 0.5rem;
  }
  .hs-submit {
    float: left;
    margin-top: 0.8rem;
  }
  .grecaptcha-badge {
    transform:scale($recaptcha-rescale-factor);
    -webkit-transform:scale($recaptcha-rescale-factor);
    width: $recaptcha-rescale-factor * 256px !important;
    height: $recaptcha-rescale-factor * 60px !important;
    transform-origin:0 ;
    -webkit-transform-origin:0;
  }
  .hs-richtext {
    span[style="font-family: verdana, geneva; font-size: 16px;"] {
      font-family: $font-family-base !important;
      font-size: 1.2rem !important;
    }
  }
  .hs-input {
    width: 100%;
  }
  .hs-error-msgs {
    color: $danger;
    list-style-type: none;
    padding: 0;
  }
  .hs_error_rollup {
    display: none !important;
  }
  .hs-button {
    @extend .btn;
    @extend .btn-primary;
  }
}
