<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}
<body>
{%- include header.html -%}
<div id="top"></div>
<div class="wrapper">
    <div id="hero-image">
        <div class="bg"></div>
        <span class="photo-credit">
            Photo by <a
                href="https://unsplash.com/@limorganon?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                Limor Zellermayer
            </a> on <a
                href="https://unsplash.com/s/photos/family?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
                Unsplash
            </a>
        </span>
    </div>
    {{ content }}
</div>
{%- include footer.html -%}
</body>
</html>