---
layout: default
---

<div class="header">
    <div class="container header-container">
        <h1 class="header-title">{{ page.title | escape }}</h1>
        <h2 class="header-subtitle">{{ page.subtitle | escape }}</h2>
        <div class="post-meta">
            {%- if page.date -%}
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
            {%- endif -%}
            {%- if page.author -%}
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
            </span>
            {%- endif -%}
        </div>
    </div>
</div>
<div class="container fs-5">
    <div class="mb-3 w-25">
        {%- if page.image -%}
        <img src="{{ page.image | relative_url}}">
        {%- else -%}
        {%- include svg/alfred.svg -%}
        {%- endif -%}
    </div>
    {{ content }}
</div>
<div class="bottom-cta container align-content-center w-25 mb-5">
    {%- include hubspot-beta-signup-form.html -%}
</div>
