---
layout: default
---

<div class="header">
    <div class="container header-container">
        <h1 class="header-title">{{ page.title | escape }}</h1>
    </div>
</div>
<div class="container header-container">
    <p class="header-subtitle">{{ page.subtitle | escape }}</p>
</div>
<div class="container header-container">
    <p class="post-meta">
        {%- if page.date -%}
        • <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
    </time>
        {%- endif -%}
        {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
</div>

<div class="container">
    {{ content }}
</div>
<br>

<div class="content">
    <div class="col-sm-4 offset-sm-4 header-title-section">
        {%- include hubspot-form.html -%}
    </div>
</div>
